{% extends 'base.html.twig' %}

{% block title %}Server index{% endblock %}

{% block body %}
    <h1>Server index</h1>

    <a href="{{ path('app_admin_once_human_server_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Scenario</th>
                <th>Difficulty</th>
                <th>StartAt</th>
                <th>Closed</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td>{{ server.id }}</td>
                <td class="fw-bold">{{ server.name }}</td>
                <td>{{ server.scenario.name }}</td>
                <td>{{ server.difficulty }}</td>
                <td>{{ server.startAt ? server.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="{{ server.closed ? 'text-danger' : 'text-success' }}">{{ server.closed ? 'Yes' : 'No' }}</td>
                <td>{{ server.tags|length }}</td>
                <td>
                    <a href="{{ path('app_admin_once_human_server_show', {'id': server.id}) }}">show</a>
                    <a href="{{ path('app_admin_once_human_server_edit', {'id': server.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(servers) }}
{% endblock %}
