{% extends 'base.html.twig' %}

{% block title %}ItemCategory index{% endblock %}

{% block body %}
    <h1>ItemCategory index</h1>

    <a href="{{ path('app_admin_once_human_item_category_new') }}" class="btn btn-primary">Create new</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_category in item_categories %}
            <tr>
                <td>{{ item_category.id }}</td>
                <td class="fw-bold">{{ item_category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_once_human_item_category_show', {'id': item_category.id}) }}">show</a>
                    <a href="{{ path('app_admin_once_human_item_category_edit', {'id': item_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(item_categories) }}

{% endblock %}
