{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <a href="{{ path('app_admin_once_human_item_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Rarity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td class="fw-bold">{{ item.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.rarity }}</td>
                <td>
                    <a href="{{ path('app_admin_once_human_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_admin_once_human_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(items) }}

{% endblock %}
