{% extends 'base.html.twig' %}

{% block title %}Specialization index{% endblock %}

{% block body %}
    <h1>Specialization index</h1>

    <a href="{{ path('app_admin_once_human_specialization_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th colspan="2">Name</th>
                <th>Type</th>
                <th>Levels</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialization in specializations %}
            <tr>
                <td>{{ specialization.id }}</td>
                <td>
                    {% if specialization.icon %}
                        <img src="{{ vich_uploader_asset(specialization) }}" alt="" width="32" height="32">
                    {% endif %}
                </td>
                <td class="fw-bold">{{ specialization.name }}</td>
                <td>{{ specialization.type }}</td>
                <td>{{ specialization.levels ? specialization.levels|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_once_human_specialization_show', {'id': specialization.id}) }}">show</a>
                    <a href="{{ path('app_admin_once_human_specialization_edit', {'id': specialization.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(specializations) }}

{% endblock %}
