{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <a href="{{ path('app_admin_once_human_scenario_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.name }}</td>
                <td>{{ scenario.description }}</td>
                <td>
                    <a href="{{ path('app_admin_once_human_scenario_show', {'id': scenario.id}) }}">show</a>
                    <a href="{{ path('app_admin_once_human_scenario_edit', {'id': scenario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(scenarios) }}

{% endblock %}
