{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <a href="{{ path('app_admin_press_review_post_new') }}" class="btn btn-primary">Create new</a>

    <form method="get" action="{{ path('app_admin_press_review_post_index') }}">
        <div class="row g-1 align-items-center">
            <div class="col-auto">
                <select name="status" class="form-select">
                    {% for key, name in status %}
                        <option value="{{ key }}" {% if key == currentStatus %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <select name="category" class="form-select">
                    <option value="0">-- Category --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == currentCategory %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary mt-0">Filter</button>
            </div>
            {% if app.request.query.get('issue') or app.request.query.get('tag') %}
                <div class="col-auto">
                    <a href="{{ path('app_admin_press_review_post_index') }}" class="btn btn-outline-danger mt-0">Reset</a>
                </div>
            {% endif %}
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        {% if post.thumbnail %}
                            <a href="{{ post.thumbnail }}" target="_blank" class="align-self-start">
                                <img src="{{ post.thumbnail }}" class="object-fit-cover rounded border" style="height: 3rem; width: 3rem;" alt="">
                            </a>
                        {% endif %}
                        <div>
                            {% if post.issue %}<span class="badge text-bg-secondary">{{ post.issue.name }}</span>{% endif %}
                            <a href="{{ post.link }}" target="_blank" class="fw-bold text-body">{{ post.title }}</a><br />
                            {{ post.source ?? 'N/A' }} - {{ post.publishedAt ? post.publishedAt|format_datetime('medium', 'short') : 'N/A' }}
                            {% for tag in post.tags %}
                                <span class="badge text-bg-light">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge rounded-pill badge-pr-post-{{ post.status }}">{{ status[post.status] }}</span>
                </td>
                <td>
                    <a href="{{ path('app_admin_press_review_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_admin_press_review_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(posts) }}

{% endblock %}
